<ion-view view-title="Home" class="home-back">
    <ion-content>
        <div class="home-logo"></div>
        <div class="home">
            <div class="left">
                
                <div class="bottom">
                    <div class="title">
                        <div class="font">快速访问</div> 
                    </div>
                </div>
                
            </div>
            <div class="right">
                <div class="top">
                    <div class="content" id="content1"></div>
                    <div class="content" id="content1"></div>
                    <div class="content" id="content1"></div>
                </div>
                <div class="bottom">
                    <div class="content"></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
 