<ion-view view-title="Search" class="search-page">
    <ion-content>
        <div class="search-bar"></div>
        <div class="search-history">
            <div class="title fontsize">
                <div class="left-line"></div>
                <div class="content">搜索历史</div>

                <div class="right-line"></div>
            </div>
            <div class="list fontsize">
                <div class="row">
                    <div class="col">00001</div>
                    <div class="col">叶**</div>
                    <div class="col">女</div>
                    <div class="col">24岁</div>
                    <div class="col col-30">急性肠胃炎</div>
                </div>
                <div class="row">
                    <div class="col">00001</div>
                    <div class="col">叶**</div>
                    <div class="col">女</div>
                    <div class="col">24岁</div>
                    <div class="col col-30">急性肠胃炎</div>
                </div>
                <div class="row">
                    <div class="col">00001</div>
                    <div class="col">叶**</div>
                    <div class="col">女</div>
                    <div class="col">24岁</div>
                    <div class="col col-30">急性肠胃炎</div>
                </div>
                <div class="row">
                    <div class="col">00001</div>
                    <div class="col">叶**</div>
                    <div class="col">女</div>
                    <div class="col">24岁</div>
                    <div class="col col-30">急性肠胃炎</div>
                </div>
                <div class="row">
                    <div class="col">00001</div>
                    <div class="col">叶**</div>
                    <div class="col">女</div>
                    <div class="col">24岁</div>
                    <div class="col col-30">急性肠胃炎</div>
                </div>
                <div class="row">
                    <div class="col">00001</div>
                    <div class="col">叶**</div>
                    <div class="col">女</div>
                    <div class="col">24岁</div>
                    <div class="col col-30">急性肠胃炎</div>
                </div>
            </div>

        </div>
        <div class="search-clear">
            <div class="delete-btn"></div>
            <div class="title fontsize">清空搜索记录</div>
        </div>
    </ion-content>
</ion-view>
