<ion-view view-title="DocInfo" class="docinfo-page">

    <div class="docinfo-right">
        <div class="content">
            <div class="pic"></div>
            <div class="doc-info fontsize">
                <div class="row">
                    <div class="col col-50">姓名：</div>
                    <div class="col col-50">叶**</div>
                </div>
                <div class="row">
                    <div class="col col-50">年龄：</div>
                    <div class="col col-50">45</div>
                </div>
                <div class="row">
                    <div class="col col-50">科室：</div>
                    <div class="col col-50">内科</div>
                </div>
                <div class="row">
                    <div class="col col-30">职称：</div>
                    <div class="col col-70">主任医师</div>
                </div>
            </div>
            <div class="history">
                <div class="title">最近查房记录:</div>
                <div class="row fontsize">
                    <div class="col">00001</div>
                    <div class="col">叶**</div>
                    <div class="col">女</div>
                    <div class="col">24岁</div>
                    <div class="col">急性肠胃炎</div>
                </div>
                <div class="row fontsize">
                    <div class="col">00001</div>
                    <div class="col">叶**</div>
                    <div class="col">女</div>
                    <div class="col">24岁</div>
                    <div class="col">急性肠胃炎</div>
                </div>
                <div class="row fontsize">
                    <div class="col">00001</div>
                    <div class="col">叶**</div>
                    <div class="col">女</div>
                    <div class="col">24岁</div>
                    <div class="col">急性肠胃炎</div>
                </div>
                <div class="row fontsize">
                    <div class="col">00001</div>
                    <div class="col">叶**</div>
                    <div class="col">女</div>
                    <div class="col">24岁</div>
                    <div class="col">急性肠胃炎</div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="docinfo-left">
        <div class="menulist">
            <div class="menuitem">
                <div class="people"></div>
                <div class="fontsize select">个人信息</div>
            </div>
            <div class="menuitem">
                <div class="setting"></div>
                <div class="fontsize unselect">基本设置</div>
            </div>
            <div class="menuitem">
                <div class="version"></div>
                <div class="fontsize unselect">版本信息</div>
            </div>
            <div class="menuitem">
                <div class="question"></div>
                <div class="fontsize unselect">意见反馈</div>
            </div>
        </div>
    </div>
  
</ion-view>
